[Unit]
Description=Hardening service
After=systemd-journald
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
#Group=
StandardOutput=journal
StandardError=journal
SyslogIdentifier=harden
LogLevelMax=alert
SyslogFacility=daemon
SyslogLevel=debug
SyslogLevelPrefix=true
ExecStart=/usr/bin/harden-main scan
StartLimitBurst=5
StartLimitIntervalSec=10
#ExecStop=
#SELinuxContext=-

[Install]
WantedBy=multi-user.target
