[Unit]
Description=Hardening service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
StandardOutput=journal
#StandardError=journal
SyslogIdentifier=harden-service
LogLevelMax=alert
SyslogFacility=daemon
SyslogLevel=alert
SyslogLevelPrefix=true
ExecStart=/usr/bin/harden-main scan
#StartLimitBurst=5
#ExecStop=
#SELinuxContext=

[Install]
WantedBy=multi-user.target
