[Unit]
Description=Timer to run Linux Hardening Service (harden.service) periodically

[Timer]
Unit=harden.service
OnCalendar=*-*-* 01:00

[Install]
WantedBy=timers.target