[Unit]
Description=Hardening service
Documentation="file:/usr/share/harden/docs"
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
Type=oneshot
User=root
StandardOutput=journal
StandardError=journal
Environment="__LAUNCHED_BY_SYSTEMD=1"
SyslogIdentifier=harden-service
LogLevelMax=debug
SyslogFacility=daemon
SyslogLevel=info
SyslogLevelPrefix=true
#LogExtraFields="__REALTIME_TIMESTAMP __MONOTONIC_TIMESTAMP _BOOT_ID _MACHINE_ID _HOSTNAME SYSLOG_FACILITY=daemon _UID _GID _TRANSPORT _SELINUX_CONTEXT _STREAM_ID PRIORITY=7 SYSLOG_IDENTIFIER=harden-service-debug _SYSTEMD_CGROUP _SYSTEMD_UNIT #_COMM #_EXE _PID _SYSTEMD_INVOCATION_ID _CMDLINE MESSAGE"
ExecStart=/usr/bin/harden-main scan
#ExecStop=
#SELinuxContext=

[Install]
WantedBy=multi-user.target
