[Unit]
Description=Cleanup service for the 'Linux Hardening Service' (harden.service) old and unwanted/unuseful files of type (logs,messages,actions).
# Don't let it run more than once in an hour (60sec x 60min = 3600)
StartLimitIntervalSec=3600
StartLimitBurst=1

[Service]
Type=simple
User=root
StandardOutput=journal
StandardError=null
Environment=__LAUNCHED_BY_SYSTEMD=1
SyslogIdentifier=harden-cleanup-service
LogLevelMax=info
SyslogFacility=daemon
SyslogLevel=info
SyslogLevelPrefix=true
ExecStart=/usr/bin/harden-run rotate
#ExecStop=
#SELinuxContext=

[Install]
WantedBy=multi-user.target
